/* ESERCIZIO 1 */
.ex-1-square{
    transition: all 3s;
}
.ex-1-square:hover{    
    background-color: red;    
}

/* ESERCIZIO 2 */
.ex-2-square{
    transition: all 3s;
}

.ex-2-square:active{
    background-color: blue;
    width: 100%;
}

/* ESERCIZIO 3 */

.ex-3-square{
    transition: all .5s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* ESERCIZIO 4 */
/* ESERCIZIO 5 */
/* ESERCIZIO 6 */
/* ESERCIZIO 7 */
/* ESERCIZIO 8 */
/* ESERCIZIO 9 */
/* ESERCIZIO 10 */
/* ESERCIZIO 11 */
/* ESERCIZIO 12 */
/* ESERCIZIO 13 */
